<app-header-section></app-header-section>
<main class="u-main" role="main">
  <app-nav-menu></app-nav-menu>
  <div class="u-content">
    <div class="u-body">
      <router-outlet></router-outlet>
      <!-- Footer -->
				<footer class="u-footer d-md-flex align-items-md-center text-center text-md-left text-muted text-muted">
            <p class="h5 mb-2 mb-md-0">More freebies on <a class="link-muted" href="https://htmlstream.com/" target="_blank">Htmlstream</a></p>
  
            <p class="h5 mb-0 ml-auto">
              &copy; 2018 <a class="link-muted" href="https://htmlstream.com/" target="_blank">Htmlstream</a>. All Rights Reserved.
            </p>
          </footer>
          <!-- End Footer -->
    </div>
  </div>
</main>
