<aside id="sidebar" class="u-sidebar">
        <div class="u-sidebar-inner">
            <header class="u-sidebar-header">
                <a class="u-sidebar-logo" routerLink="/">
                    <img class="img-fluid" src="./assets/img/logo.png" width="124" alt="Stream Dashboard">
                </a>
            </header>

            <nav class="u-sidebar-nav">
                <ul class="u-sidebar-nav-menu u-sidebar-nav-menu--top-level">
                    <!-- Home -->
                    <li class="u-sidebar-nav-menu__item">
                        <a class="u-sidebar-nav-menu__link active" routerLink="/">
                            <i class="fa fa-cubes u-sidebar-nav-menu__item-icon"></i>
                            <span class="u-sidebar-nav-menu__item-title">Home</span>
                        </a>
                    </li>
                    <!-- End Home -->
                    <!-- Productos  -->
                    <li class="u-sidebar-nav-menu__item">
                        <a class="u-sidebar-nav-menu__link" href="#!"
                           data-target="#baseUI">
                            <i class="far fa-gem u-sidebar-nav-menu__item-icon"></i>
                            <span class="u-sidebar-nav-menu__item-title">Productos</span>
                            <i class="fa fa-angle-right u-sidebar-nav-menu__item-arrow"></i>
                            <span class="u-sidebar-nav-menu__indicator"></span>
                        </a>

                        <ul id="baseUI" class="u-sidebar-nav-menu u-sidebar-nav-menu--second-level" style="display: none;">
                            <li class="u-sidebar-nav-menu__item">
                                <a class="u-sidebar-nav-menu__link" href="./ui-typography.html">
                                    <span class="u-sidebar-nav-menu__item-icon">O2</span>
                                    <span class="u-sidebar-nav-menu__item-title">Oxigeno</span>
                                </a>
                            </li>
                            <li class="u-sidebar-nav-menu__item">
                                <a class="u-sidebar-nav-menu__link" href="./ui-colors.html">
                                    <span class="u-sidebar-nav-menu__item-icon">C2H2</span>
                                    <span class="u-sidebar-nav-menu__item-title">Acetileno</span>
                                </a>
                            </li>
                            <li class="u-sidebar-nav-menu__item">
                                <a class="u-sidebar-nav-menu__link" href="./ui-colors.html">
                                    <span class="u-sidebar-nav-menu__item-icon">Mx</span>
                                    <span class="u-sidebar-nav-menu__item-title">Mezcla</span>
                                </a>
                            </li>
                            <li class="u-sidebar-nav-menu__item">
                                <a class="u-sidebar-nav-menu__link" href="./ui-colors.html">
                                    <span class="u-sidebar-nav-menu__item-icon">N2</span>
                                    <span class="u-sidebar-nav-menu__item-title">Nitrogeno</span>
                                </a>
                            </li>
                            <li class="u-sidebar-nav-menu__item">
                                <a class="u-sidebar-nav-menu__link" href="./ui-colors.html">
                                    <span class="u-sidebar-nav-menu__item-icon">Ar</span>
                                    <span class="u-sidebar-nav-menu__item-title">Argon</span>
                                </a>
                            </li>
                            <li class="u-sidebar-nav-menu__item">
                                <a class="u-sidebar-nav-menu__link" href="./ui-colors.html">
                                    <span class="u-sidebar-nav-menu__item-icon">Co2</span>
                                    <span class="u-sidebar-nav-menu__item-title">Dioxido de Carbono</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- End Home  -->
                    <!-- Clientes Pages -->
                    <li class="u-sidebar-nav-menu__item">
                        <a class="u-sidebar-nav-menu__link" [routerLink]='["/cliente"]'>
                            <i class="far fa-user-circle u-sidebar-nav-menu__item-icon"></i>
                            <span class="u-sidebar-nav-menu__item-title">Clientes</span>
                        </a>
                    </li>
                    <!-- End Clientes Pages -->
                    <!-- Tables -->
                    <li class="u-sidebar-nav-menu__item">
                        <a class="u-sidebar-nav-menu__link" href="./tables.html">
                            <i class="far fa-list-alt u-sidebar-nav-menu__item-icon"></i>
                            <span class="u-sidebar-nav-menu__item-title">Tables</span>
                        </a>
                    </li>
                    <!-- End Tables -->
                    <!-- Forms -->
                    <li class="u-sidebar-nav-menu__item">
                        <a class="u-sidebar-nav-menu__link" routerLink="/ticket">
                            <i class="far fa-edit u-sidebar-nav-menu__item-icon"></i>
                            <span class="u-sidebar-nav-menu__item-title">Forms</span>
                        </a>
                    </li>
                    <!-- End Forms -->


                    <hr>

                    <!-- Documentation -->
                    <li class="u-sidebar-nav-menu__item">
                        <a class="u-sidebar-nav-menu__link" href="./docs.html">
                            <i class="far fa-newspaper u-sidebar-nav-menu__item-icon"></i>
                            <span class="u-sidebar-nav-menu__item-title">Documentation</span>
                        </a>
                    </li>
                    <!-- End Documentation -->
                    <!-- Free Download -->
                    <li class="u-sidebar-nav-menu__item">
                        <a class="u-sidebar-nav-menu__link" href="https://htmlstream.com/templates/stream-dashboard-ui-kit">
                            <i class="fab fa-html5 u-sidebar-nav-menu__item-icon"></i>
                            <span class="u-sidebar-nav-menu__item-title">Free Download</span>
                        </a>
                    </li>
                    <!-- End Free Download -->
                </ul>
            </nav>
        </div>
    </aside>
