<h1>Clientes</h1>
<!--<button (click)="actualizarInfo()">{{TextoBoton}}</button>-->

<button [routerLink]='["/cliente-agregar"]' class="btn btn-primary">Agregar Cliente</button>
<p *ngIf="!(Clientes && Clientes.length)">
    No Existen Registros
</p>

<table class='table' *ngIf="Clientes">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Documento</th>
            <th>Direccion</th>
            <th>Telefono</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cliente of Clientes">
            <td>{{ cliente.nombreCliente }}</td>
            <td>{{ cliente.documentoCliente }}</td>
            <td>{{ cliente.direccionCliente }}</td>
            <td>{{ cliente.telefonoCliente }}</td>
            <td>
                <button>Editar</button>
                <button>Borrar</button>

            </td>  
        </tr>
    </tbody>
</table>

